@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
/*     --primary-100:#FF5733;
    --primary-200:#ff8a5f;
    --primary-300:#fff3bf;
    --accent-100:#FFC300;
    --accent-200:#916600;
    --text-100:#FFFFFF;
    --text-200:#c0c0c0;
    --bg-100:#1C1C1C;
    --bg-200:#2b2b2b;
    --bg-300:#434343;
 */    
    --bg-100: #0c0a09;
    --text-100: #F2F2F2;
    --bg-200: #1C1917;
    --bg-300: #171717;
    --primary-100: #e11d48;
    --text-200: #fff1f2;
    --bg-400: #27272a;
    --text-300: #fafafa;
    --bg-500: #262626;
    --text-400: #a1a1aa;
    --accent: #292524;
    --accent-foreground: #fafafa;
    --primary-200: #7f1d1d;
    --destructive-foreground: #fef2f2;
    --border: #27272a;
    --input: #27272a;
}

html,
body,
body > div {
  height: 100vh;
  width: 100vw;
}

.ff-first {
  font-family: "Roboto Condensed", sans-serif;
}
.ff-second {
  font-family: "PT Sans", sans-serif;
}
.ff-third {
  font-family: 'Quicksand', sans-serif;
}
.ff-fourth {
  font-family: 'Nunito', sans-serif;
}

--first-color {
  color: #f52103;
  background-color: #f52103;
}
--second-color {
  color: #fcae35;
}

--third-color {
  color: #fa4c02;
}

--fourth-color {
  color: #e65936;
}

--fifth-color {
  color: #f8fafc;
}

/* bg */
.bg-first {
  background-color: #f52103;
}

.bg-second {
  background-color: #fcae35;
}
.bg-third {
  background-color: #fa4c02;
}
.bg-fourth {
  background-color: #e65936;
}
.bg-fifth {
  background-color: #f8fafc;
}

/* texts colors */
.text-first {
  color: #f52103;
}

.text-second {
  color: #fcae35;
}
.text-third {
  color: #fa4c02;
}
.text-fourth {
  color: #e65936;
}
.text-fifth {
  color: #f8fafc;
}

#root {
  display: flex;
  flex-direction: column;
}

.modal {
  position: absolute;
  z-index: 20;
  top: 0;
 right: 0;
}

.modal::after{
  z-index: 20;
  position: absolute;
  content: "";
  top: 0;
  right:0;
  width: 100vw;
  height: 100vh;
  background-color: #1111119b;
}

.modal::before{
  z-index: 30;
  position: relative;
  display: block;
  top:70px;
  right: 550px;
  content: "";
  width: 500px;
  height: 500px;
  background-color: #f52103;
}

.scrollbar::-webkit-scrollbar{
  width: 5px;
  background: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-track {
  background: #cec9c99c; /* Color de fondo de la barra de desplazamiento */
  border-radius: 5px;

}

.scrollbar::-webkit-scrollbar-thumb {
  background: #b6b5b5; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del "pulgar" de la barra de desplazamiento al pasar el cursor */
}

.customLinks {
  @apply bg-transparent text-gray-400 hover:text-gray-200 hover:bg-neutral-800 duration-300 ease-in transition-all px-2 py-2 ff-fourth text-lg
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium
}
.bg-shine-animate {
  animation: bg-shine 2s linear infinite;
}

@keyframes bg-shine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: "-200% 0";
  }
}